In [16]:
import os
import pandas as pd 
import plotly.express as px
import plotly.offline as pyo

df =  pd.read_csv('gdp.csv')

final_data = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name']==country_name]
    data = df_pr.values
    gdp_change = [0]

    for i in range (1,len(data)):
        prev = data[i-1][3]
        cur = data[i][3]
        gdp_change.append(round(((cur-prev)/prev)*100,2))

        df_pr = df_pr.assign(GDP = gdp_change)
        final_data.append(df_pr)

df = pd.concat(final_data, axis = 0)

df.head()

ValueError: Length of values (2) does not match length of index (49)

## GDP of all Countries

In [26]:
fig = px.line(df, x = 'Year' , y = 'Value' , title ='GDP Analysis of All Countries', color = 'Country Name')
pyo.plot(fig, filename = 'Countries GDP.html' )

'Countries GDP.html'

In [28]:
df

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

## GDP Comparison between India & China

In [32]:
c1 = df[df['Country Name'] == 'China']
c2 = df[df['Country Name'] == 'India']

In [35]:
c2.head()

     Country Name Country Code  Year         Value
6074        India          IND  1960  3.653593e+10
6075        India          IND  1961  3.870910e+10
6076        India          IND  1962  4.159907e+10
6077        India          IND  1963  4.777600e+10
6078        India          IND  1964  5.572687e+10

In [37]:
df_pr = pd.concat([c1,c2],axis = 0)

In [39]:
df_pr

     Country Name Country Code  Year         Value
4046        China          CHN  1960  5.971647e+10
4047        China          CHN  1961  5.005687e+10
4048        China          CHN  1962  4.720936e+10
4049        China          CHN  1963  5.070680e+10
4050        China          CHN  1964  5.970834e+10
...           ...          ...   ...           ...
6126        India          IND  2012  1.827638e+12
6127        India          IND  2013  1.856722e+12
6128        India          IND  2014  2.035393e+12
6129        India          IND  2015  2.089865e+12
6130        India          IND  2016  2.263792e+12

[114 rows x 4 columns]

In [43]:
fig = px.line(df_pr , x ='Year', y ='Value' , title = 'GDP Comparison | India&China', color = 'Country Name')
pyo.plot(fig , filename = 'IND|CHN.HTML')

/Applications/anaconda3/lib/python3.12/site-packages/plotly/offline/offline.py:557: UserWarning:

Your filename `IND|CHN.html` didn't end with .html. Adding .html to the end of your file.

'IND|CHN.HTML.html'

In [45]:
## WE CAN ALso check it for china and world , and for any two countries