In [23]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo

df = pd.read_csv('gdp.csv')

final_data = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] ==country_name]
    data =df_pr.values
    gdp_change = [0]

    for i in range(1, len(data)):
        prev = data[i-1][3]
        cur = data[i][3]
        gdp_change.append(round(((cur-prev)/prev)*100,2))

    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)

df = pd.concat(final_data, axis = 0)

df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

##GDP Comparison between Specific Countries

In [3]:
lst = ['ITA' ,'IND', 'USA', 'CHN']

dfs = []
for i in lst :
    dfs.append(df[df['Country Code'] == i])

    df_pr = pd.concat(dfs, axis = 0)

In [4]:
df_pr['Country Name'].unique()

array(['Italy', 'India', 'United States', 'China'], dtype=object)

In [5]:
fig = px.line(df_pr , x ='Year' , y = 'Value' , title = 'GDP Comparison', color = 'Country Name')

pyo.plot(fig, filename = 'WLD|CHN.html')

'WLD|CHN.html'

In [6]:
lst = ['IND', 'ITA' , 'USA', 'CHN'] ## gives same order of city in graph

dfs = []
for i in lst :
    dfs.append(df[df['Country Code'] == i])

    df_pr = pd.concat(dfs, axis = 0)

In [7]:
fig = px.line(df_pr , x ='Year' , y = 'Value' , title = 'GDP Comparison - '+ '|'.join(lst), color = 'Country Name')

pyo.plot(fig, filename = '|'.join(lst) + '.html') ## join is used to show the name of countries we are comparing and given in list

'IND|ITA|USA|CHN.html'

In [8]:
'|'.join(lst) + '.html'

'IND|ITA|USA|CHN.html'

In [9]:
##lst = ['IND', 'ITA' , 'USA', 'CHN'] 

def compare_gdp(lst):
    

 dfs = []
 for i in lst :
    dfs.append(df[df['Country Code'] == i])

    df_pr = pd.concat(dfs, axis = 0)
    fig = px.line(df_pr , x ='Year' , y = 'Value' , title = 'GDP Comparison - '+ '|'.join(lst), color = 'Country Name')

pyo.plot(fig, filename = '|'.join(lst) + '.html')

'IND|ITA|USA|CHN.html'

In [10]:
compare_gdp(['IND','CHN','ITA'])

In [11]:
## compare_gdp(lst,isOpen) here if we give value of isOpen as True,graph will open automatically ,but if given v alue is false ,we have to manually open the graph