In [3]:
import pandas as pd 
df= pd.read_csv('gdp.csv')

In [7]:
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

# GDP ANALYSIS FOR INDIA

In [109]:
df_pr = df[df['Country Name'] == 'India']

In [23]:
data = df_pr.values

gdp_change = [0]
for i in range (1, len(data)):
    prev = data[i-1][3]
    cur = data[i][3]
    gdp_change.append(round(((cur-prev)/prev)*100,2))

df_pr = df_pr.assign(GDP = gdp_change)

In [27]:
df_pr

     Country Name Country Code  Year         Value    GDP
6074        India          IND  1960  3.653593e+10   0.00
6075        India          IND  1961  3.870910e+10   5.95
6076        India          IND  1962  4.159907e+10   7.47
6077        India          IND  1963  4.777600e+10  14.85
6078        India          IND  1964  5.572687e+10  16.64
6079        India          IND  1965  5.876042e+10   5.44
6080        India          IND  1966  4.525364e+10 -22.99
6081        India          IND  1967  4.946617e+10   9.31
6082        India          IND  1968  5.237732e+10   5.89
6083        India          IND  1969  5.766833e+10  10.10
6084        India          IND  1970  6.158980e+10   6.80
6085        India          IND  1971  6.645256e+10   7.90
6086        India          IND  1972  7.050991e+10   6.11
6087        India          IND  1973  8.437454e+10  19.66
6088        India          IND  1974  9.819828e+10  16.38
6089        India          IND  1975  9.715922e+10  -1.06
6090        India          IND  1976  1.013470e+11   4.31
6091        India          IND  1977  1.198667e+11  18.27
6092        India          IND  1978  1.354688e+11  13.02
6093        India          IND  1979  1.509508e+11  11.43
6094        India          IND  1980  1.838399e+11  21.79
6095        India          IND  1981  1.909095e+11   3.85
6096        India          IND  1982  1.980377e+11   3.73
6097        India          IND  1983  2.153508e+11   8.74
6098        India          IND  1984  2.093282e+11  -2.80
6099        India          IND  1985  2.294103e+11   9.59
6100        India          IND  1986  2.456647e+11   7.09
6101        India          IND  1987  2.753114e+11  12.07
6102        India          IND  1988  2.926327e+11   6.29
6103        India          IND  1989  2.920933e+11  -0.18
6104        India          IND  1990  3.166973e+11   8.42
6105        India          IND  1991  2.665023e+11 -15.85
6106        India          IND  1992  2.843639e+11   6.70
6107        India          IND  1993  2.755704e+11  -3.09
6108        India          IND  1994  3.229099e+11  17.18
6109        India          IND  1995  3.554760e+11  10.09
6110        India          IND  1996  3.876560e+11   9.05
6111        India          IND  1997  4.103203e+11   5.85
6112        India          IND  1998  4.157309e+11   1.32
6113        India          IND  1999  4.527000e+11   8.89
6114        India          IND  2000  4.621468e+11   2.09
6115        India          IND  2001  4.789655e+11   3.64
6116        India          IND  2002  5.080690e+11   6.08
6117        India          IND  2003  5.995929e+11  18.01
6118        India          IND  2004  6.996889e+11  16.69
6119        India          IND  2005  8.089011e+11  15.61
6120        India          IND  2006  9.203165e+11  13.77
6121        India          IND  2007  1.201112e+12  30.51
6122        India          IND  2008  1.186953e+12  -1.18
6123        India          IND  2009  1.323940e+12  11.54
6124        India          IND  2010  1.656617e+12  25.13
6125        India          IND  2011  1.823050e+12  10.05
6126        India          IND  2012  1.827638e+12   0.25
6127        India          IND  2013  1.856722e+12   1.59
6128        India          IND  2014  2.035393e+12   9.62
6129        India          IND  2015  2.089865e+12   2.68
6130        India          IND  2016  2.263792e+12   8.32

# GDP ANALYSIS FOR CHINA

In [39]:
df_pr = df[df['Country Name'] == 'China']

data = df_pr.values
gdp_change =[0]

for i in range (1, len(data)):
  prev = data[i-1][3]
  cur = data [i][3]

  gdp_change.append(round(((cur-prev)/prev)*100,2))

df_pr = df_pr.assign(GDP = gdp_change)

In [41]:
df_pr

     Country Name Country Code  Year         Value    GDP
4046        China          CHN  1960  5.971647e+10   0.00
4047        China          CHN  1961  5.005687e+10 -16.18
4048        China          CHN  1962  4.720936e+10  -5.69
4049        China          CHN  1963  5.070680e+10   7.41
4050        China          CHN  1964  5.970834e+10  17.75
4051        China          CHN  1965  7.043627e+10  17.97
4052        China          CHN  1966  7.672029e+10   8.92
4053        China          CHN  1967  7.288163e+10  -5.00
4054        China          CHN  1968  7.084654e+10  -2.79
4055        China          CHN  1969  7.970591e+10  12.51
4056        China          CHN  1970  9.260297e+10  16.18
4057        China          CHN  1971  9.980096e+10   7.77
4058        China          CHN  1972  1.136876e+11  13.91
4059        China          CHN  1973  1.385443e+11  21.86
4060        China          CHN  1974  1.441821e+11   4.07
4061        China          CHN  1975  1.634316e+11  13.35
4062        China          CHN  1976  1.539405e+11  -5.81
4063        China          CHN  1977  1.749381e+11  13.64
4064        China          CHN  1978  1.495408e+11 -14.52
4065        China          CHN  1979  1.782806e+11  19.22
4066        China          CHN  1980  1.911492e+11   7.22
4067        China          CHN  1981  1.958664e+11   2.47
4068        China          CHN  1982  2.050897e+11   4.71
4069        China          CHN  1983  2.306867e+11  12.48
4070        China          CHN  1984  2.599465e+11  12.68
4071        China          CHN  1985  3.094880e+11  19.06
4072        China          CHN  1986  3.007581e+11  -2.82
4073        China          CHN  1987  2.729730e+11  -9.24
4074        China          CHN  1988  3.123536e+11  14.43
4075        China          CHN  1989  3.477681e+11  11.34
4076        China          CHN  1990  3.608579e+11   3.76
4077        China          CHN  1991  3.833733e+11   6.24
4078        China          CHN  1992  4.269157e+11  11.36
4079        China          CHN  1993  4.447313e+11   4.17
4080        China          CHN  1994  5.643247e+11  26.89
4081        China          CHN  1995  7.345479e+11  30.16
4082        China          CHN  1996  8.637467e+11  17.59
4083        China          CHN  1997  9.616040e+11  11.33
4084        China          CHN  1998  1.029043e+12   7.01
4085        China          CHN  1999  1.093997e+12   6.31
4086        China          CHN  2000  1.211347e+12  10.73
4087        China          CHN  2001  1.339396e+12  10.57
4088        China          CHN  2002  1.470550e+12   9.79
4089        China          CHN  2003  1.660288e+12  12.90
4090        China          CHN  2004  1.955347e+12  17.77
4091        China          CHN  2005  2.285966e+12  16.91
4092        China          CHN  2006  2.752132e+12  20.39
4093        China          CHN  2007  3.552182e+12  29.07
4094        China          CHN  2008  4.598206e+12  29.45
4095        China          CHN  2009  5.109954e+12  11.13
4096        China          CHN  2010  6.100620e+12  19.39
4097        China          CHN  2011  7.572554e+12  24.13
4098        China          CHN  2012  8.560547e+12  13.05
4099        China          CHN  2013  9.607224e+12  12.23
4100        China          CHN  2014  1.048237e+13   9.11
4101        China          CHN  2015  1.106467e+13   5.55
4102        China          CHN  2016  1.119915e+13   1.22

In [43]:
df['Country Name'].unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic',
       'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao SAR, China',
       'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

# FINDING GDP GROWTH OF EVERY COUNTRY

In [91]:
final_data = []

for country_name in df['Country Name'].unique():
    
     df_pr = df[df['Country Name'] == country_name]
     data = df_pr.values
     gdp_change = [0]
    
for i in range (1,len(data)):
    
    prev = data[i-1][3]
    cur = data[i][3]
    
    gdp_change.append(round(((cur-prev)/prev)*100,2))

df_pr= df_pr.assign(GDP = gdp_change)
final_data.append(df_pr)

In [93]:
final_data[0]

      Country Name Country Code  Year         Value    GDP
11450     Zimbabwe          ZWE  1960  1.052990e+09   0.00
11451     Zimbabwe          ZWE  1961  1.096647e+09   4.15
11452     Zimbabwe          ZWE  1962  1.117602e+09   1.91
11453     Zimbabwe          ZWE  1963  1.159512e+09   3.75
11454     Zimbabwe          ZWE  1964  1.217138e+09   4.97
11455     Zimbabwe          ZWE  1965  1.311436e+09   7.75
11456     Zimbabwe          ZWE  1966  1.281750e+09  -2.26
11457     Zimbabwe          ZWE  1967  1.397002e+09   8.99
11458     Zimbabwe          ZWE  1968  1.479600e+09   5.91
11459     Zimbabwe          ZWE  1969  1.747999e+09  18.14
11460     Zimbabwe          ZWE  1970  1.884206e+09   7.79
11461     Zimbabwe          ZWE  1971  2.178716e+09  15.63
11462     Zimbabwe          ZWE  1972  2.677729e+09  22.90
11463     Zimbabwe          ZWE  1973  3.309354e+09  23.59
11464     Zimbabwe          ZWE  1974  3.982161e+09  20.33
11465     Zimbabwe          ZWE  1975  4.371301e+09   9.77
11466     Zimbabwe          ZWE  1976  4.318372e+09  -1.21
11467     Zimbabwe          ZWE  1977  4.364382e+09   1.07
11468     Zimbabwe          ZWE  1978  4.351600e+09  -0.29
11469     Zimbabwe          ZWE  1979  5.177459e+09  18.98
11470     Zimbabwe          ZWE  1980  6.678868e+09  29.00
11471     Zimbabwe          ZWE  1981  8.011374e+09  19.95
11472     Zimbabwe          ZWE  1982  8.539701e+09   6.59
11473     Zimbabwe          ZWE  1983  7.764067e+09  -9.08
11474     Zimbabwe          ZWE  1984  6.352126e+09 -18.19
11475     Zimbabwe          ZWE  1985  5.637259e+09 -11.25
11476     Zimbabwe          ZWE  1986  6.217524e+09  10.29
11477     Zimbabwe          ZWE  1987  6.741215e+09   8.42
11478     Zimbabwe          ZWE  1988  7.814784e+09  15.93
11479     Zimbabwe          ZWE  1989  8.286323e+09   6.03
11480     Zimbabwe          ZWE  1990  8.783817e+09   6.00
11481     Zimbabwe          ZWE  1991  8.641482e+09  -1.62
11482     Zimbabwe          ZWE  1992  6.751472e+09 -21.87
11483     Zimbabwe          ZWE  1993  6.563813e+09  -2.78
11484     Zimbabwe          ZWE  1994  6.890675e+09   4.98
11485     Zimbabwe          ZWE  1995  7.111271e+09   3.20
11486     Zimbabwe          ZWE  1996  8.553147e+09  20.28
11487     Zimbabwe          ZWE  1997  8.529572e+09  -0.28
11488     Zimbabwe          ZWE  1998  6.401968e+09 -24.94
11489     Zimbabwe          ZWE  1999  6.858013e+09   7.12
11490     Zimbabwe          ZWE  2000  6.689958e+09  -2.45
11491     Zimbabwe          ZWE  2001  6.777385e+09   1.31
11492     Zimbabwe          ZWE  2002  6.342116e+09  -6.42
11493     Zimbabwe          ZWE  2003  5.727592e+09  -9.69
11494     Zimbabwe          ZWE  2004  5.805598e+09   1.36
11495     Zimbabwe          ZWE  2005  5.755215e+09  -0.87
11496     Zimbabwe          ZWE  2006  5.443896e+09  -5.41
11497     Zimbabwe          ZWE  2007  5.291950e+09  -2.79
11498     Zimbabwe          ZWE  2008  4.415703e+09 -16.56
11499     Zimbabwe          ZWE  2009  8.621574e+09  95.25
11500     Zimbabwe          ZWE  2010  1.014186e+10  17.63
11501     Zimbabwe          ZWE  2011  1.209845e+10  19.29
11502     Zimbabwe          ZWE  2012  1.424249e+10  17.72
11503     Zimbabwe          ZWE  2013  1.545177e+10   8.49
11504     Zimbabwe          ZWE  2014  1.589105e+10   2.84
11505     Zimbabwe          ZWE  2015  1.630467e+10   2.60
11506     Zimbabwe          ZWE  2016  1.661996e+10   1.93

In [95]:
df = pd.concat(final_data, axis = 0) #error- not showing data of each country

In [97]:
df

      Country Name Country Code  Year         Value    GDP
11450     Zimbabwe          ZWE  1960  1.052990e+09   0.00
11451     Zimbabwe          ZWE  1961  1.096647e+09   4.15
11452     Zimbabwe          ZWE  1962  1.117602e+09   1.91
11453     Zimbabwe          ZWE  1963  1.159512e+09   3.75
11454     Zimbabwe          ZWE  1964  1.217138e+09   4.97
11455     Zimbabwe          ZWE  1965  1.311436e+09   7.75
11456     Zimbabwe          ZWE  1966  1.281750e+09  -2.26
11457     Zimbabwe          ZWE  1967  1.397002e+09   8.99
11458     Zimbabwe          ZWE  1968  1.479600e+09   5.91
11459     Zimbabwe          ZWE  1969  1.747999e+09  18.14
11460     Zimbabwe          ZWE  1970  1.884206e+09   7.79
11461     Zimbabwe          ZWE  1971  2.178716e+09  15.63
11462     Zimbabwe          ZWE  1972  2.677729e+09  22.90
11463     Zimbabwe          ZWE  1973  3.309354e+09  23.59
11464     Zimbabwe          ZWE  1974  3.982161e+09  20.33
11465     Zimbabwe          ZWE  1975  4.371301e+09   9.77
11466     Zimbabwe          ZWE  1976  4.318372e+09  -1.21
11467     Zimbabwe          ZWE  1977  4.364382e+09   1.07
11468     Zimbabwe          ZWE  1978  4.351600e+09  -0.29
11469     Zimbabwe          ZWE  1979  5.177459e+09  18.98
11470     Zimbabwe          ZWE  1980  6.678868e+09  29.00
11471     Zimbabwe          ZWE  1981  8.011374e+09  19.95
11472     Zimbabwe          ZWE  1982  8.539701e+09   6.59
11473     Zimbabwe          ZWE  1983  7.764067e+09  -9.08
11474     Zimbabwe          ZWE  1984  6.352126e+09 -18.19
11475     Zimbabwe          ZWE  1985  5.637259e+09 -11.25
11476     Zimbabwe          ZWE  1986  6.217524e+09  10.29
11477     Zimbabwe          ZWE  1987  6.741215e+09   8.42
11478     Zimbabwe          ZWE  1988  7.814784e+09  15.93
11479     Zimbabwe          ZWE  1989  8.286323e+09   6.03
11480     Zimbabwe          ZWE  1990  8.783817e+09   6.00
11481     Zimbabwe          ZWE  1991  8.641482e+09  -1.62
11482     Zimbabwe          ZWE  1992  6.751472e+09 -21.87
11483     Zimbabwe          ZWE  1993  6.563813e+09  -2.78
11484     Zimbabwe          ZWE  1994  6.890675e+09   4.98
11485     Zimbabwe          ZWE  1995  7.111271e+09   3.20
11486     Zimbabwe          ZWE  1996  8.553147e+09  20.28
11487     Zimbabwe          ZWE  1997  8.529572e+09  -0.28
11488     Zimbabwe          ZWE  1998  6.401968e+09 -24.94
11489     Zimbabwe          ZWE  1999  6.858013e+09   7.12
11490     Zimbabwe          ZWE  2000  6.689958e+09  -2.45
11491     Zimbabwe          ZWE  2001  6.777385e+09   1.31
11492     Zimbabwe          ZWE  2002  6.342116e+09  -6.42
11493     Zimbabwe          ZWE  2003  5.727592e+09  -9.69
11494     Zimbabwe          ZWE  2004  5.805598e+09   1.36
11495     Zimbabwe          ZWE  2005  5.755215e+09  -0.87
11496     Zimbabwe          ZWE  2006  5.443896e+09  -5.41
11497     Zimbabwe          ZWE  2007  5.291950e+09  -2.79
11498     Zimbabwe          ZWE  2008  4.415703e+09 -16.56
11499     Zimbabwe          ZWE  2009  8.621574e+09  95.25
11500     Zimbabwe          ZWE  2010  1.014186e+10  17.63
11501     Zimbabwe          ZWE  2011  1.209845e+10  19.29
11502     Zimbabwe          ZWE  2012  1.424249e+10  17.72
11503     Zimbabwe          ZWE  2013  1.545177e+10   8.49
11504     Zimbabwe          ZWE  2014  1.589105e+10   2.84
11505     Zimbabwe          ZWE  2015  1.630467e+10   2.60
11506     Zimbabwe          ZWE  2016  1.661996e+10   1.93

In [99]:
df.head()

      Country Name Country Code  Year         Value   GDP
11450     Zimbabwe          ZWE  1960  1.052990e+09  0.00
11451     Zimbabwe          ZWE  1961  1.096647e+09  4.15
11452     Zimbabwe          ZWE  1962  1.117602e+09  1.91
11453     Zimbabwe          ZWE  1963  1.159512e+09  3.75
11454     Zimbabwe          ZWE  1964  1.217138e+09  4.97

In [103]:
df.groupby('Country Name').mean()['GDP'] # showing error

TypeError: agg function failed [how->mean,dtype->object]

In [113]:
df[df['Country Name']== 'Afghanistan'] # error

Empty DataFrame
Columns: [Country Name, Country Code, Year, Value, GDP]
Index: []

In [117]:
df.groupby('Country Name').mean()['GDP'].sort_values(ascending = False) # error

Country Name
Zimbabwe    95.25
Name: GDP, dtype: float64

In [117]:
df.groupby('Country Name').mean()['GDP'].sort_values(ascending = False) # error

Country Name
Zimbabwe    95.25
Name: GDP, dtype: float64

In [117]:
df.groupby('Country Name').mean()['GDP'].sort_values(ascending = False) # error

Country Name
Zimbabwe    95.25
Name: GDP, dtype: float64

In [119]:
df.groupby('Country Name').max()['Value'].sort_values(ascending = False)#only showing values of zimbabwe

Country Name
Zimbabwe    1.661996e+10
Name: Value, dtype: float64